.App {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/****NAV BAR*****/
header {
  background-color: #272727
}

#nav {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

#nav li {
  float: left;
}

#nav img {
  margin-right: 0px;
}

#nav ul {
  text-align: right;
  list-style-type: none;
  background-color: #272727;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  margin: auto 0;
  float: right;
}

#nav li button {
  all: unset;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  color: white;
  font-size: 2em;
  height: 100px;
  line-height: 100px;
}

#nav a:hover {
background-color: #ff8f0f;
}

#nav .logo {
  max-height: 100px;
  max-width: 100px;
  margin-right: 10%;
}